$url: '../../../static/img/home/';
.home{
	padding-top: var(--status-bar-height);
	overflow: hidden;
	.banner{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -2;
	}
	.header{
		height: 80rpx;
		padding: 20rpx 20rpx 20rpx 32rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.userBox{
			width: 310rpx;
			padding-left: 15rpx;
			height: 60rpx;
			border-radius: 30rpx;
			background: #dfe3fe;
			display: flex;
			align-items: center;
			.icon{
				width: 34rpx;
				height: 34rpx;
				background: url($url + 'userIcon.png') no-repeat;
				background-size: 100% 100%;
			}
			.text{
				flex: 1;
				max-width: 200rpx;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				margin: 0 12rpx;
				font-size: 30rpx;
				color: #403cf9;
			}
			.arrow{
				width: 44rpx;
				height: 44rpx;
				background: url($url + 'arrowIcon.png') no-repeat;
				background-size: 100% 100%;
			}
		}
		.serach{
			width: 82rpx;
			height: 82rpx;
			background: url($url + 'seachIcon.png') no-repeat;
			background-size: 100% 100%;
		}
	}
	.rocketBox{
		position: absolute;
		top: 100rpx;
		left: 0;
		width: 100%;
		height: 300rpx;
		z-index: -1;
		.rocket{
			height: 47rpx;
			position: absolute;
			left: -115rpx;
			top: 35%;
			width: 115rpx;
			&:before,&:after{
				content: '';
				position: absolute;
				top: 0;
				height: 47rpx;
			}
			&:before{
				left: 0;
				width: 51rpx;
				background: url(../../../static/flame.png) no-repeat center;
				background-size: 153rpx auto;
			}
			&:after{
				right: 0;
				width: 64rpx;
				background: url(../../../static/rocket.png) no-repeat center;
				background-size: 64rpx auto;
			}
			@keyframes flameAni {
				100%{
					background-position: -153rpx;
				}
			}
			@keyframes rocketAni {
				0%{
					left: -115rpx;
				}
				45%,45%{
					left: 45%;
				}
				100%{
					left: 100vw;
				}
			}
			&.refresher{
				animation: rocketAni 3s ease both;
				&:before{
					animation: flameAni .5s  steps(2)  infinite;
				}
			}
		}
	}
	.content{
		.scoreBox{
			margin: 0 37rpx;
			padding-bottom: 55rpx;
			background: $uni-bg-color-box;
			border-radius: 30rpx;
			text-align: center;
			position: relative;
			box-shadow: 0 10rpx 20rpx rgba(46,22,114,.1);
			&:after{
				content: '';
				position: absolute;
				left: 30rpx;
				right: 30rpx;
				bottom: -20rpx;
				border-radius: 20rpx;
				height: 60rpx;
				background: $uni-bg-color-box;
				z-index: -1;
				box-shadow: 0 10rpx 20rpx rgba(46,22,114,.1);
			}
			.tips{
				line-height: 80rpx;
				font-size: 20rpx;
			}
			.address{
				height: 30rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 26rpx;
				.icon{
					width: 16rpx;
					height: 27rpx;
					background: url($url + 'address.png') no-repeat;
					background-size: 100% 100%;
					margin-right: 16rpx;
					margin-top: 5rpx;
				}
				.line{
					margin: 0 25rpx;
					width: 1px;
					height: 20rpx;
					background: #ccc;
				}
			}
			.score{
				width: 466rpx;
				height: 466rpx;
				margin: 44rpx auto 0;
				border: #f9f6fb solid 1px;
				border-radius: 50%;
				.scoreIn{
					margin: 28rpx;
					width: 410rpx;
					height: 410rpx;
					box-shadow: 0 5rpx 12rpx rgba(76,46,155,.2);
					border-radius: 50%;
					position: relative;
					overflow: hidden;
					color: #c5c5c5;
					.textBox{
						position: relative;
						z-index: 3;
					}
					.numBox{
						margin-top: 100rpx;
						display: flex;
						align-items: center;
						justify-content: center;
						height: 110rpx;
						.num{
							font-size: 130rpx;
							line-height: 110rpx;
							color: #6e43fb;
							text-shadow: 0 10rpx 15rpx rgba(30,0,108,.3);
							position: relative;
							.unit{
								position: absolute;
								line-height: 30rpx;
								top: 15rpx;
								right: -40rpx;
								font-size: 30rpx;
								color: #c5c5c5;
								text-shadow: none;
							}
						}
					}
					.arrow{
						position: absolute;
						top: 55rpx;
						right: 48rpx;
						width: 16rpx;
						height: 28rpx;
						background: url(../../../static/img/arrow2Icon.png) no-repeat;
						background-size: 100% 100%;
					}
					.sub{
						margin-top: 25rpx;
						font-size: 20rpx;
					}
					.aniBox{
						position: absolute;
						top: 65%;
						left: 0;
						width: 100%;
						height: 410rpx;
						&::before {
						    content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: url($url + 'scoreBg.png') repeat-x;
							background-size: auto 410rpx;
							animation: scoreBgAni 7s linear infinite;
						}
					}
					.money{
						position: absolute;
						width: 100%;
						height: 40rpx;
						bottom: 40rpx;
						z-index: 6;
						left: 0;
						display: flex;
						align-items: center;
						justify-content: center;
						color: #fff;
						font-size: 36rpx;
						&::before{
							content: '';
							width: 38rpx;
							height: 38rpx;
							background: url(../../../static/img/money.png);
							background-size: 100% 100%;
							margin-right: 10rpx;
						}
					}
				}
			}
			.subTips{
				margin-top: 50rpx;
				font-size: 27rpx;
				span{
					font-size: 36rpx;
					color: #6e43fb;
					margin: 0 15rpx;
				}
			}
		}
		.infoList{
			margin-top: 50rpx;
			display: flex;
			align-items: center;
			background: $uni-bg-color-box;
			.item{
				flex: 1;
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				height: 240rpx;
				.icon{
					width: 112rpx;
					height: 112rpx;
					&.brushMode{
						background: url($url + 'brushMode.png') no-repeat;
						background-size: 100% 100%;
					}
					&.brushHead{
						background: url($url + 'brushHead.png') no-repeat;
						background-size: 100% 100%;
					}
					&.battery_100{
						background: url($url + '/battery/100.png') no-repeat;
						background-size: 100% 100%;
					}
					&.battery_80{
						background: url($url + '/battery/80.png') no-repeat;
						background-size: 100% 100%;
					}
					&.battery_60{
						background: url($url + '/battery/60.png') no-repeat;
						background-size: 100% 100%;
					}
					&.battery_40{
						background: url($url + '/battery/40.png') no-repeat;
						background-size: 100% 100%;
					}
					&.battery_20{
						background: url($url + '/battery/20.png') no-repeat;
						background-size: 100% 100%;
					}
					&.battery_0{
						background: url($url + '/battery/0.png') no-repeat;
						background-size: 100% 100%;
					}
				}
				.title{
					margin-top: 25rpx;
					font-size: 24rpx;
				}
			}
		}
		.recordList{
			background: $uni-bg-color-box;
			padding: 0 35rpx;
			.head{
				display: flex;
				justify-content: space-between;
				height: 80rpx;
				align-items: center;
				font-size: 30rpx;
			}
		}
	}
}

@keyframes scoreBgAni{
	0%{background-position:0px 0px;}
	100%{background-position: 934rpx 0px;}
}